<div class="wrap-all">
    <header class="top">
        <nav class="mainnav">
            <f:cObject typoscriptObjectPath="lib.mainnav" />
        </nav>
    </header>
    <section class="main-content">
        <f:render section="Content" />
    </section>
    <footer class="main-footer">
        <f:cObject typoscriptObjectPath="lib.footerContent" />
    </footer>
    <footer class="copyright-footer">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </footer>
</div>
